.about-heading {
  @media (min-width: 992px) {
    .about-heading-img {
      position: relative;
      z-index: 0;
      margin-top: -3rem;
    }
    .about-heading-content {
      margin-top: -5rem;
      position: relative;
      z-index: 1;

    }
  }
  .about-button{
        margin-top: 35px;
        a{
          background: #000;
        }
      }
}
