body {
  @include body-font;
  background-image: linear-gradient(rgba(208, 153, 226, 0.65), rgba(208, 153, 226, 0.5)), url('/img/poppy.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

p {
  line-height: 1.75;
}

.watermark{
  position: absolute;
  z-index: 20;
  right: 0;
  top: 0;
  width: 175px;
  height: auto;
  transform: rotate(-5deg);
  @media screen and (max-width: 1240px){
    width: 140px;
  }
}

.text-faded {
  color: fade-out($white, 0.7);
}

.hero-title{
  font-size: 5rem;
  line-height: .85!important;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  @media screen and (max-width: 1240px){
    font-size: 3.5rem;
  }
}

.site-heading {
  margin-top: 3rem;
  /*margin-bottom: 2rem;*/
  line-height: 1;
  font-family: p22-klauss-kursiv, cursive;
  font-weight: 800;
  font-style: normal;
  opacity: .75;
  color: #000;
  @include heading-font;
  .site-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .site-heading-lower {
    font-size: 6rem;
    font-weight: 100;
    line-height: 4rem;
    color: #000;
    opacity: .75;
    @media screen and (max-width: 1240px){
      font-size: 3.5rem;
    }
  }
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  /*text-transform: uppercase;*/
  .section-heading-upper {
    display: block;
    /*font-size: 1rem;*/
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
  }
}

.bg-faded {
  background-color: fade-out($white, 0.15);
}

