<div class="menu">
    <button class="nav-tgl" type="button" aria-label="toggle menu">
      <!-- this span just for the three dividers in the hamburger button--><span aria-hidden="true"></span>
    </button>
    <nav class="nav">
      <ul class="navLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/store">Events</a></li>
        <li><a href="/contact">Contact</a></li>
        <img class="navLogo" src="/img/Asset%203.png">
      </ul>
    </nav>
  </div>