<!DOCTYPE html>
<html lang="en">
<script defer src="/jquery/main.js"></script>

<head>
  <%- include('partials/header') %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Holly Poppy</title>
</head>
<body>

    <!-- Navigation -->
  <div class="menu">
    <button class="nav-tgl" type="button" aria-label="toggle menu">
      <!-- this span just for the three dividers in the hamburger button--><span aria-hidden="true"></span>
    </button>
    <nav class="nav">
      <!-- I don't care about the menu elements here so I will hide them-->
      
      <ul class="navLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/store">Events</a></li>
        <li><a href="/contact">Contact</a></li>
        <img class="navLogo" src="/img/Asset%203.png">
      </ul>
    </nav>
  </div>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <!-- <span class="site-heading-upper text-primary mb-3">A Free Bootstrap 4 Business Theme</span> -->
    <span class="site-heading-lower">About Us</span>
  </h1>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">By the People, For the People</span>
                <span class="section-heading-lower">Community</span>
              </h2>
              <p>We are targeting every small business, every seller, and every consumer that wants to support local business and stray away from mass corporations.
We are filling the gap that is sick up the dependency of the rich that will not acknowledge the poor. Apple and Amazon do not care about us, in fact they make it impossible to get by without them so lets fight back. Holly Poppy will do what they will not. We will not bleed the people’s pockets dry, we will serve to make them overflow. Everyone’s hard earned cash should be going into their neighbor’s pockets. Enough with feeding the rich, let them starve without us--lets feed one another. 
</p>
              <p class="mb-0">People love their friends and families, they will go to holly poppy to nourish that love. We have to come together. </p>
              <div class="about-button">
            <a class="btn btn-primary btn-xl" href="/contact">Become a Poppy!</a>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>
</body>

</html>
