<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %>
    <body>
        <%- include('partials/navbar') %>
        <div class="container">
            <div class="row">
                <h1>Thank you for your Enquiry!</h1>
            </div>
            <hr>
            <div class="row" style="height:300px;">
                <p>Thank you for contacting us. We will get back to you as soon as we can.</p>
            </div>
        </div>
    </body>
</html>