  
<!DOCTYPE html>
<html lang="en">
<script defer src="/jquery/main.js"></script>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Holly Poppy</title>

  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/business-casual.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://use.typekit.net/cuc8dfh.css">
  <link rel="stylesheet" href="https://use.typekit.net/cuc8dfh.css">
  <link rel="stylesheet" href="https://use.typekit.net/cuc8dfh.css">

  <!-- animate css -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

</head>

<body>

  <img class="watermark" src="/img/Asset%203.png">


  <!-- Navigation -->
  <div class="menu">
    <button class="nav-tgl" type="button" aria-label="toggle menu">
      <!-- this span just for the three dividers in the hamburger button--><span aria-hidden="true"></span>
    </button>
    <nav class="nav">
      <!-- I don't care about the menu elements here so I will hide them-->

      <ul class="navLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="events.ejs">Events</a></li>
        <li><a href="contact.ejs">Contact</a></li>
        <img class="navLogo" src="/img/Asset%203.png">
      </ul>
    </nav>
  </div>

 

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <!-- <span class="site-heading-upper text-primary mb-3">Holly Poppy</span> -->
    <span class="site-heading-lower wow fadeIn">Holly Poppy</span>
  </h1>


  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <!-- <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt=""> -->
        <iframe class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/map" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" width="500" height="500"></iframe>
        <div class="intro-text left-0 text-center p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper hero-title wow fadeIn">What's Poppin</span>
            <!-- <span class="section-heading-lower">Brand New Whip Just Hopped In</span> -->
          </h2>
          <p class="mb-3">Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Become a Poppy!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <!-- <span class="section-heading-upper">Our Mission</span> -->
              <span class="section-heading-lower">Our Mission</span>
            </h2>
            <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/jquery/jquery.js"xs></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {

    new WOW().init();
    
});
  </script>
</body>

</html>