<!DOCTYPE html>
<html lang="en"></html>
<head>
  <%- include('partials/header') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poppy Map</title>
</head>
<body>
    <script async defer type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnNY4Px8zfiDo3zWqujXBwJykMyHRoDw8&callback=initMap"></script>
    <div id="map"></div>
<style>
    #map {
      height: 100%;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <script>

var x = <%-JSON.stringify(users)%>;
     let addressArray = [];
     let companyArray = [];
     let websiteArray = [];
     let mapArray = [];
    for (var item of x) {
      companyArray.push(item.Company);
      addressArray.push(item.Address + ' , ' + item.City);
      websiteArray.push(item.Website);
      mapArray.push(item.google_map);
    };

    let all = [companyArray, addressArray, websiteArray, mapArray];
    let mix = [];

    for (var i = 0; all.length !== 0; i++) {
    var j = 0;
    while (j < all.length) {
        if (i >= all[j].length) {
            all.splice(j, 1);
        } else {
            mix.push(all[j][i]);
            j += 1;
        }
    }
}

function group3(arr, len) {
     let chunks = [];
     let copy  = arr; // Use a copy to not modifiy the original array
     while(copy.length + 1 > len) {
         chunks.push(copy.splice(0, len));
     }
     return chunks;
}

let locations = group3(mix, 4);
  
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(39.742043, -104.991531),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    for (i = 0; i < locations.length; i++) {
      geocodeAddress(locations[i], map);
    }
  }

  var delayfactor = 0;

  function geocodeAddress(location, map) {
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode( { 'address': location[1]}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        createMarker(results[0].geometry.location,`<h3>${location[0]}</h3>`+location[1]+ '<br>' + `<a href="${location[2]}" target="_blank">${location[2]}</a>` + '<br>' + `<a href="${location[3]}" target="_blank">Get Directions to ${location[0]}</a>`, map);
      }
      else if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
        delayfactor++;
        setTimeout(function () {
          geocodeAddress(location, map)
        }, delayfactor * 1000);
      } else {
        alert("some problem in geocode" + status);
      }
    }); 
  }

  function createMarker(latlng,html,map){    
    var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      icon: '/img/poppy-marker-8-50x50.png',
  }); 

  var infowindow = new google.maps.InfoWindow();

  marker.addListener("click", () => {
    infowindow.setContent(html);
    infowindow.open(map, marker);
    });
  }
  </script>
</body>
</html>