<!DOCTYPE html>
<html lang="en"></html>
<head>
  <script async defer type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnNY4Px8zfiDo3zWqujXBwJykMyHRoDw8&callback=initMap"></script>
  <%- include('partials/header') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poppy Map</title>
</head>
<body>
  <div  style="position:absolute; left:-500px;" class="menu">
    <button style="position:absolute; left:1000px;" class="nav-tgl" type="button" aria-label="toggle menu">
      <!-- this span just for the three dividers in the hamburger button--><span aria-hidden="true"></span>
    </button>
    <nav class="nav">
      <!-- I don't care about the menu elements here so I will hide them-->
      <ul class="navLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="about.ejs">About Us</a></li>
        <li><a href="events.ejs">Events</a></li>
        <li><a href="contact.ejs">Map</a></li>
      </ul>
    </nav>
  </div>
    <div id="map"></div>
<style>
    #map {
      height: 100%;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</body>
</html>