<!DOCTYPE html>
<html lang="en"></html>>
<head>
  <script async defer type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9kwAzjdLHLvRHUg-jODbNoy8HYaSR6EY&callback=initMap">
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poppy Map</title>
</head>
<body>
    <h1>Poppy Map</h1>
    <div id="map"></div>
<script>
var locations = [
    ['Mile High Sober Living', '1470 Clayton St'],
    ['Oxford House', '3200 E Mexico Ave'],
    ['Union Station', '1701 Wynkoop St'],
    ['Taste of Philly', '1116 Broadway, Denver']
  ];
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(39.742043, -104.991531),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();
    var geocoder = new google.maps.Geocoder();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      geocodeAddress(locations[i]);
      console.log('locations[i] ' + locations[i])
    }

function geocodeAddress(location) {
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode( { 'address': location[1]}, function(results, status) {
  //alert(status);
    if (status == google.maps.GeocoderStatus.OK) {

      //alert(results[0].geometry.location);
      map.setCenter(results[0].geometry.location);
      createMarker(results[0].geometry.location,location[0]+"<br>"+location[1]);
    }
    else
    {
      alert("some problem in geocode" + status);
    }
  }); 
}

function createMarker(latlng,html){
  var marker = new google.maps.Marker({
    position: latlng,
    map: map
  }); 

  google.maps.event.addListener(marker, 'mouseover', function() { 
    infowindow.setContent(html);
    infowindow.open(map, marker);
  });
		
  google.maps.event.addListener(marker, 'mouseout', function() { 
    infowindow.close();
  });
}
}

</script>
<style>
    #map {
      height: 100%;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</body>
</html>