<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/header') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Poppy Form</title>
</head>
<%- include('partials/navbar') %>
<script defer type="text/javascript">
    var s ="";
    while (s!= "hollypoppin") {
    s=prompt("please enter your password");
    if (s=="hollypoppin")
    {}
    else {
	alert("Incorrect password-Try again");
	}
}
    </script>
<body>
    <h2>Want to be apart of Holly Poppy?</h2>
    <h3>Fill out the form below</h3>
<form action="/users" method="POST">
	<label>First Name:
	  <input type="text" name="FirstName">
	</label><br>
	<label>Last Name:
	  <input type="text" name="LastName">
	</label><br>
	<label>Company:
	  <input type="text" name="Company">
	</label><br>
	<label>Address:
	  <input type="text" name="Address">
	</label><br>
	<label>City:
		<input type="text" name="City">
	</label><br>
	<label>State:
		<input type="text" name="State">
	</label><br>
	<label>Zip Code:
		<input type="number" name="Zip">
	</label><br>
	<label>Phone Number:
		<input type="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="Phone">
	</label><small>Format: 3034567890</small><br>
	<label>Website URL:
		<input type="text" name="Website">
	</label><br>
	<button type="submit">Submit</button> 
</form>
</body>
</html>