<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Person Form</title>
</head>
<body>
    <h2>Want to be apart of Holly Poppy?</h2>
    <h3>Fill out the form below</h3>
<form action="/newForm" method="POST">
	<label>First Name:
	  <input type="text" name="firstName">
	</label><br>
	<label>Last Name:
	  <input type="text" name="lastName">
	</label><br>
	<label>Company:
	  <input type="text" name="Company">
	</label><br>
	<label>Address:
	  <input type="text" name="address">
	</label><br>
</form>
</body>
</html>