<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %>
    <body>
        <script>
            setTimeout(function () {
               // after 2 seconds
               window.location = "/";
            }, 7000)
          </script>
        <%- include('partials/navbar') %>
        <div class="container">
            <div class="row">
                <h1>Thank you for joining Holly Poppy!</h1>
            </div>
        </div>
    </body>
</html>